<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <add name="DjangoWebHardler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\king\anaconda3\python.exe|E:\MyBlog\wfastcgi.py" resourceType="Unspecified" />
            <add name="DjangoWebHandle" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\king\anaconda3\python.exe|c:\users\king\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\king\anaconda3\python.exe|c:\users\king\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="Unspecified" requireAccess="Execute" allowPathInfo="true" />
            </handlers>
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\inetpub\wwwroot\MyBlog\" />
            <add key="DJANGO_SETTINGS_MODULE" value="MyBlog.MyBlog.package.develop" />
        </appSettings>
    </configuration>