.icon{
    width:auto;
    height: auto;
    vertical-align:middle;
    max-width: 100%;

}
input{
    outline-style: none;
    border: 0px;
    background-color: #ffffff1a;
    color:#cacaca;
}
.title-link {
    width: 500px;
    height: 500px;
    Color:#000;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.title-link:hover, .hover:focus, .hover:active {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
   Color:Blue;
}

a{
    text-decoration: none;
}