{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'new_style/mycss.css' %}">

    </head>
    <body>
        <div class="container-fluid head">
            <div class="row">
                <div class="col-2 post" style="background-color:#111;padding-bottom:100%;">
                    <div class="container head" style="position:fixed">
                        <br>
                        <br>
                        <a href="/">
                            <img src="{% static 'new_style/canacmini.png' %}">
                        </a>
                        <br>
                        <br>
                        <br>
                        <form class="search" action="{% url 'search-list' %}">
                            <input class="search" type="search" placeholder="Search" aria-label="Search" name="search_key">

                        </form>
                        <a class="nav-link" href="/" style="color:#cacaca;font-family:Poppins !important" >
                            <p style="color:#8c1c1c;display:inline;">-</p>
                            首页
                        </a>
                        {% for nav in navs %}
                        <a class="nav-link" href="{% url 'category-list' nav.id %}" style="color:#cacaca;font-family:Poppins !important" >
                            <p style="color:{{ nav.color }};display:inline;">-</p>
                            {{ nav.name }}
                        </a>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-10 post">
                    <div class="container">
                        <div class="container">
                            <div class="col-12">
                                <br>
                                <br>
                                <br>
                                <br>
                                {% block main %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>