{% load static %}
<html style="height:100%;">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{% static 'default/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'new_style/mycss.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'default/css/enlighterjs.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'new_style/css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'new_style/css/font-awesome.min.css' %}">
        <script src="{% static 'default/css/enlighterjs.min.js' %}"></script>
        <script src="{% static 'new_style/myjs.js' %}"></script>
    </head>
    <body style="height:100%;">
        <div style="height:100%;">
            <div class=" nav" style="background-color:#111;height:100%;width:250px;position:fixed;">
                    <div style="width:250px;padding-right:15px;padding-left:15px;">
                        <div  style="margin-top:30px!important;margin-bottom:30px!important;">
                            <a href="/">
                                <img class="icon" src="{% static 'logo/logo.png' %}">
                            </a>
                        </div>
                        <div class="nav_list">
                            <form class="search" style="margin-left:15px;" action="{% url 'search-list' %}">
                                <input class="search" type="search" placeholder="Search" aria-label="Search" name="search_key">
                            </form>
                            <a class="nav-link" href="/" style="color:#cacaca;font-family:Poppins !important" >
                                <p style="color:#5a5a5a;margin-right:10px;display:inline;">-</p>首页
                            </a>
                            {% for nav in navs %}
                            <a class="nav-link" href="{% url 'category-list' nav.id %}" style="color:#cacaca;font-family:Poppins !important" >
                                <p style="margin-right:10px;color:{{ nav.color }};display:inline;">-</p>{{ nav.name }}
                            </a>
                            {% endfor %}
                        </div>
			<div style="position:absolute;bottom:0px;">
                        <div class="FirendLink" style="margin-top:60px;">
                            {% for link in friend_links %}
                            <a class="nav-link" href="{{ link.href }}" style="color:#cacaca;font-family:Poppins !important" >
                                <i class="{{ link.icon }}"></i><p style="color:#cacaca;margin:0px 0px 20px 10px;display:inline;font:12px Roboto">{{ link.title }}</p>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="footer" style="margin-top:20px;">
                            <footer style="color:#cacaca;margin:0px 0px 20px 10px;font:12px Roboto">
                                <p style="color:#cacaca;">Copyright All rights reserved</p>
                                <a href="http://beian.miit.gov.cn" style="color:#cacaca;margin-top:2px;">京ICP备 2021004442号</a>
                            </footer>
			</div>
                        </div>
                    </div>
                </div>
            <div class="main" style="width:calc(100% - 250px);float:right;">
                <div class="post-detail" style="margin-left:80px!important;margin-right:80px!important;margin-top:100px!important;">
                    {% block main %}
                    {% endblock %}
                    <script type="text/javascript">EnlighterJS.init('pre', 'code', {
                        language : 'c++',
                         theme: 'enlighter',
                        indent : 2})
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
