{% extends "Template/new_style/Blog/base.html" %}
{% load comment_block %}
{% block title %} {{post.title}} {% endblock %}
{% block jumbotron %} {% endblock %}
{% block main %}

<div >
    <div class="title_info" >
        <div class="category">
            {% for cate in post.category.all %}
            <span style="text-align: center;border-radius: 5px;background-color:{{ cate.color }};margin:0px 5px 0px 0px;padding:5px 11px 4px;">
                <a style="color:#ffffff;font:12px Poppins" href="{% url 'category-list' cate.id %}">{{ cate.name }}</a>
            </span>
            {% endfor %}
        </div>
        <h1 style="text-decoration: none;Color:#000;font:40px Poppins">{{ post.title }}</h1>
        <span  style="Color:#555555;Font:12px Poppins;margin:0px 5px;">
            <i class="fa fa-user"></i>
            <a href="{% url 'user-list' post.owner.id %}" style="Color:#555555;Font:12px Poppins">{{ post.owner }}</a>
        </span>
        <span  style="Color:#555555;Font:12px Poppins;margin:0px 5px;">
            <i class="fa fa-clock-o"></i>{{ post.created_time }}
        </span>
        <span  style="Color:#555555;Font:12px Poppins;margin:0px 5px;">
            <i class="fa fa-comment"></i>{{ comment_count }}
        </span>
        <span  style="Color:#555555;Font:12px Poppins;margin:0px 5px;">
            <i class="fa fa-eye"></i>{{ post.pv }}
        </span>
    </div>


<hr/>
{% autoescape off %}
{{ post.content }}
{% endautoescape %}

{% comment_block request.path %}
{% endblock %}
</div>
