.icon{
    width:auto;
    height: 50px;
    vertical-align:middle;
    max-width: 100%;

}
input{
    outline-style: none;
    border: 0px;
    background-color: #ffffff1a;
    color:#cacaca;
}
.title-link {
    width: 500px;
    height: 500px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.title-link:hover, .title-link:focus, .title-link:active {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    Color:#007bff;
}
a{
    text-decoration: none;
}